* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: var(--color-white);
}

a {
  text-decoration: none;
}

body {
  background: var(--color-background);
}

body::-webkit-scrollbar {
  width: 0;
}

html {
  scroll-behavior: smooth;
}

main {
  /* display: flex;
 flex-direction: column;
 gap: 40px; */
  height: 100%;
}

div {
  transition: all 0.3s ease-in-out;
}

/* text  */

.blue {
  color: var(--color-blue);
}

.green {
  color: var(--color-green);
}

.red {
  color: var(--color-red);
}

.yellow {
  color: var(--color-yellow);
}

.title24 {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.title32 {
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
}

/* text  */

/* buttons  */
.button_red,
.button_tomato,
.button_grey {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 60px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

.button_red {
  background-color: var(--color-red-transparent6);
}

.button_tomato {
  background-color: var(--color-tomato);
}

.button_grey {
  background-color: var(--color-white-transparent2);
}

.new:has(.button_grey):hover {
  background-color: var(--color-background-footer);
}

.button_grey:hover {
  background-color: var(--color-tomato);
}

.showMore {
  color: var(--color-red);
  cursor: pointer;
}

/* buttons  */

/* header */
header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 150px;
  margin-bottom: 50px;
}

.headerSection {
  width: var(--width-block);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainLogo {
  color: var(--color-white);
  width: 200px;
  cursor: pointer;
}

.mainLogo img {
  width: 100%;
}

.headerLinks {
  display: flex;
  align-items: center;
  gap: 40px;
}

.headerLink {
  min-width: 70px;
  width: 100%;
  text-align: center;
}

.headerLink a {
  color: var(--color-white);
  border-top: solid 4px var(--color-transparent);
  border-bottom: solid 4px var(--color-transparent);
  padding: 8px;
}

.headerLink a.active {
  border-bottom: solid 4px var(--color-red);
}

/* header */

/* footer  */

footer {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  padding: 0 150px;
  background-color: var(--color-background-footer);
}

.footerSection {
  /* display: flex; */
  width: var(--width-block);
}

.footerBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footerLeft {
  display: flex;
  flex-direction: column;
  gap: 42px;
  width: 420px;
}

.footerRight {
  display: flex;
  flex-direction: column;
  width: 420px;
  padding-top: 44px;
}

.footerContacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contactUs {
  color: var(--color-white);
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.contact {
  gap: 22px;
  display: flex;
  align-items: center;
  color: var(--color-grey);
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.contact_img {
  width: 40px;
}

.contact_img img {
  width: 100%;
}

.contactSocial {
  display: flex;
  gap: 50px;
}

/* footer  */

/* business card */

.tetraSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 60px 0;

  /* background: var(--color-grey); */
}

.tetra_img {
  width: 1690px;
  height: 400px;
}

.tetra_img img {
  width: 100%;
}

/* business card */

/* information  */

.tetraInfoSection {
  padding: 60px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tetraInfoBlock {
  display: flex;
  justify-content: space-between;
  width: var(--width-block);
  padding: 0 50px;
  gap: 50px;
}

.tetraInfo {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 25px;
  width: 100%;
  text-align: center;
}

.tetraInfoTitle {
}

.tetraInfoText {
  color: var(--color-white-transparent7);
  /* text-align: center; */
  font-size: 16px;
  font-weight: 400;
  line-height: 140.4%; /* 22.464px */
  /* width: 350px; */
}

/* information  */

/* hard block  */
.tetraSectionHard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  /* height: 1400px; */
}

.tetra_hard_img {
  width: var(--width-block);
  height: auto;
}

.tetra_hard_img img {
  width: 100%;
}

/* hard block  */

/* teachers  */

.teachersSection {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.teachersTitle {
  /* font-size: 32px;
  font-weight: 500;
  text-transform: uppercase; */
}

.teachers {
  display: flex;
  justify-content: space-between;
  width: var(--width-block);

  gap: 40px;
}

.teacher {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 320px;
  gap: 20px;
}

.teacher_img {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cecece;

  width: 300px;
  height: 320px;
}

.teacher_img img {
  height: 100%;
}

.teacherName {
  font-size: 24px;
  height: 30px;
}

.teacherSpecial {
  text-align: center;
  font-size: 20px;
  height: 60px;
}

.teacherDescription {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  min-height: 120px;
}

/* teachers  */

/* news */
.newsSection {
  padding: 80px 0 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.newsBlock {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  padding-top: 60px;
  width: var(--width-block);
}

.new {
  width: 480px;
  height: 730px;
  border: 1px solid var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: var(--color-background);
}

.new_img {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cecece;
  width: 478px;
  height: 360px;
}

.new_img img {
  height: 100%;
}

.newDate {
  color: var(--color-red);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.newDescription {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  width: 440px;
  height: 150px;
}

.newsSearch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  width: var(--width-block);
}

.news_search {
  position: relative;
}

.news_input {
  display: block;
  width: 1030px;
  height: 58px;
  background-color: var(--color-background);
  border: 1px solid var(--color-white);
  font-size: 16px;
  font-weight: 600;
  padding: 0 20px;
  outline: none;
}

.news_input::placeholder {
  color: var(--color-white);
  font-size: 16px;
  font-weight: 600;
}

.news_search_svg {
  position: absolute;
  display: flex;
  align-items: center;
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 20px;
  width: 22px;
}

.newsSort {
}

.dropdown {
  width: 266px;
  height: 58px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--color-white-transparent2);
  backdrop-filter: blur(25px);
  /* min-width: 160px; */
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  z-index: 1;
}

.show {
  display: block;
}

/* Стили для кнопки */
.dropbtn {
  cursor: pointer;
  background-color: var(--color-tomato);
  padding: 10px;
  border: none;
  width: 266px;
  height: 58px;
  font-size: 16px;
  font-weight: 600;
}

/* Стили для элементов в выпадающем меню */
.dropdown-content a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 266px;
  height: 58px;
  border: 1px solid var(--color-white-transparent1);
}

.dropdown-content a:hover {
  /* background-color: var(--color-blue); */
}

/* opened news */

.newThisBlock {
  display: flex;
  justify-content: center;
}

.newThis {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: var(--width-block);
  background-color: var(--color-white-transparent1);
  padding: 52px 170px;
}

.newThisTitle {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 160%; /* 32px */
  text-transform: uppercase;
  padding: 20px 0;
}

.newThis_images {
  display: flex;
  padding: 40px 0 20px;
  gap: 28px;
}

.newThis_img {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cecece;

  width: 375px;
  height: 267px;
}

.newThis_img img {
  height: 100%;
}

.newContent {
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
}

.newTitle {
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  width: var(--width-block);
}

/* opened news */

/* news */

/* photos */

.photosSection {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.photosTitle {
}

.photosBlock {
  padding-top: 60px;
}

.photos {
}

.photos:before {
}

.photos::after {
}

.photosSmall {
}

.photos_big_img {
}

.photos_small_img {
}

.photos_small_img img {
}

/* photos */

/* about us  */

.aboutSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  /* align-items: center; */
}

.aboutUs {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--color-white);
  width: var(--width-block);
}

.about {
  display: flex;
  flex-direction: column;
  padding: 80px;
  gap: 50px;
}

.aboutTitle {
}

.aboutContent {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.about_img {
  width: 820px;
  height: 646px;
}

.about_img img {
  width: 100%;
}

.achivementsSection {
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.achivements {
  width: var(--width-block);
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.achivementsTitle {
}

.achivement {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  gap: 35px;
  width: 320px;
  /* height: 350px; */
}

.achivementNumber {
  text-align: center;
  font-size: 96px;
  font-weight: 700;
}

.achivementTitle {
}

.achivementContent {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
}

.possibleSection {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding: 80px 0;
  gap: 80px;
  align-items: center;
  background-color: var(--color-background-footer);
}

.possibleBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  width: var(--width-block);
}

.possibleArrow_img {
  cursor: pointer;
}

.possible {
  width: 432px;
  height: 650px;
  border: 1px solid var(--color-white);
}

.possible_img {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cecece;
  width: 432px;
  height: 325px;
}

.possible_img img {
  height: 100%;
}

.possibleText {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

.kostyl {
  height: 140px;
}

/* about us  */

/* calendar */

.calendarSection {
  padding: 80px 0 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.calendarBlock {
  width: var(--width-block);
  /* height: 820px; */
}
.calendarToday {
  border: 1px solid var(--color-white);
  width: 560px;
  height: 820px;
}
.today_img {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cecece;
  width: 560px;
  height: 380px;
}
.today_img img {
  height: 100%;
}
.calendar_img {
}
.calendar_img img {
}
.calendarTodayList {

}
.todayBlock {
  display: flex;
  justify-content: space-between;
  /* gap: 60px; */
  align-items: center;
  height: 80px;
  padding: 10px 40px;

}
.today {
  width: 385px;
  
}
.todayEvents {
  height: 355px;
overflow: hidden;
}

.todayEvent {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  border: 1px solid var(--color-background-footer);
}
.todayTime {
  width: 75px;
}
.todayContent {
  width: 385px;
  height: 80px;
}

.calendar {
  background-color: var(--color-background-footer);
}
.eventsSection{

}
/* calendar */
