* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: var(--color-white);
}

a {
  text-decoration: none;
}

body {
  background: var(--color-background);
}

body::-webkit-scrollbar {
  width: 0;
}

html {
  scroll-behavior: smooth;
}

.preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
}

.preloader img {
  width: 50px;
}

main {
  height: 100%;
}

div {
  transition: all 0.3s ease-in-out;
}

/* text текст */

.blue {
  color: var(--color-blue);
}

.green {
  color: var(--color-green);
}

.red {
  color: var(--color-red);
}

.yellow {
  color: var(--color-yellow);
}

.title24 {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.title32 {
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
}

.content20 {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.strokeText {
  font-size: 64px;
  font-weight: 600;
  line-height: 32px;
  color: var(--color-background) !important;
  text-shadow: 1px 0 1px white, 0 1px 1px white, -1px 0 1px white,
    0 -1px 1px white;
}

/* text  */

/* buttons кнопки */
.button_red,
.button_tomato,
.button_grey {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 60px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  padding: 10px;
}

.button_red {
  background-color: var(--color-red-transparent6);
}

.button_red:hover {
  background-color: var(--color-red);
}

.button_tomato {
  background-color: var(--color-tomato);
}

.button_grey {
  background-color: var(--color-white-transparent2);
}

.new:has(.button_grey):hover {
  background-color: var(--color-background-footer);
}

.button_grey:hover {
  background-color: var(--color-tomato);
}

.showMore {
  color: var(--color-red);
  cursor: pointer;
}

/* buttons  */

/* header */
header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 150px;
  margin-bottom: 20px;
}

.headerSection {
  width: var(--width-block);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainLogo {
  color: var(--color-white);
  width: 200px;
  cursor: pointer;
}

.mainLogo img {
  width: 100%;
}

.headerLinks {
  display: flex;
  align-items: center;
  gap: 40px;
}

.headerLink {
  /* min-width: 70px; */
  width: 100%;
  text-align: center;
}

.headerLink a {
  color: var(--color-white);
  border-top: solid 4px var(--color-transparent);
  border-bottom: solid 4px var(--color-transparent);
  padding: 8px;
}

.headerLink a.active {
  border-bottom: solid 4px var(--color-red);
}

.burger {
  display: none;
}

/* header */

/* footer  */

footer {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  padding: 0 150px;
  background-color: var(--color-background-footer);
}

.footerSection {
  /* display: flex; */
  width: var(--width-block);
}

.footerBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footerLeft {
  display: flex;
  flex-direction: column;
  gap: 42px;
  width: 420px;
}

.footerRight {
  display: flex;
  flex-direction: column;
  width: 420px;
  padding-top: 44px;
}

.footerContacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contactUs {
  color: var(--color-white);
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.contact {
  gap: 22px;
  display: flex;
  align-items: center;
  color: var(--color-grey);
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.contact_img {
  width: 40px;
}

.contact_img img {
  width: 100%;
}

.contactSocial {
  display: flex;
  gap: 50px;
}

/* footer  */

/* business card  */

.tetraSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 515px;
  position: relative;
}

.tetra_img {
  position: absolute;
  top: 0;
  left: 50%;
  /* min-width: 860px; */
  width: 1860px;
  height: 100%;
  transform: translate(-50%, 0) scale(0.95);
}

/* business card */

/* information  */

.tetraInfoSection {
  padding: 60px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.tetraInfoBlock {
  display: flex;
  justify-content: space-around;
  width: var(--width-block);
  padding: 0 50px;
  gap: 10px;
  flex-wrap: wrap;
}

.tetraInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 275px;
  /* max-width: 100%; */
  text-align: center;
}

.tetraInfo_img {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
}

.tetraInfo_img img {
  height: 100%;
}

.tetraInfoText {
  color: var(--color-white-transparent7);
  font-size: 16px;
  font-weight: 400;
  line-height: 140.4%;
}

/* information  */

/* hard block  */
.tetraHardSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 1700px;
  margin-top: 100px;
}

.tetraHardBlock {
  width: var(--width-block);
}
.tetraHardAdapBlock {
  display: none;
}
.tetra_hard_img {
  width: var(--width-block);
  height: auto;
}

.tetra_hard_img img {
  width: 100%;
}

/* hard block  */
.transp {
  color: var(--color-transparent);
  background: var(--color-transparent);
}

/* teachers  */

.teachersSection {
  margin-top: 80px;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.teachers {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  width: var(--width-block);

  gap: 40px;
}

.teacher {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 320px;
  gap: 20px;
}

.teacher_img {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey-light);

  width: 300px;
  height: 320px;
}

.teacher_img img {
  height: 100%;
}

.teacherName {
  font-size: 24px;
  height: 30px;
}

.teacherSpecial {
  text-align: center;
  font-size: 20px;
  height: 60px;
}

.teacherDescription {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  min-height: 120px;
}

/* teachers  */

/* news */
.newsSection {
  padding: 40px 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.newsBlock {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  gap: 40px;
  padding-top: 20px;
  width: var(--width-block);
}

.new {
  width: 480px;
  /* height: 750px; */
  border: 2px solid var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  /* gap: 10px; */
  background-color: var(--color-background);
  padding-bottom: 30px;
  overflow: hidden;
}

.new_img {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey-light);
  width: 478px;
  height: 360px;
}

.new_img img {
  height: 100%;
}

.newDesk {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  /* height: 50%; */
}

.newDate {
  color: var(--color-red);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  padding: 30px 10px 10px 10px;
}

.newDescription {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  width: 440px;
  min-height: 150px;
  height: 150px;
}

.newDescriptionClip {
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 4;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

.newsSearch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  width: var(--width-block);
}

.news_search {
  position: relative;
}

.news_input {
  display: block;
  width: 1030px;
  height: 58px;
  background-color: var(--color-background);
  border: 1px solid var(--color-white);
  font-size: 16px;
  font-weight: 600;
  padding: 0 20px;
  outline: none;
}

.news_input::placeholder {
  color: var(--color-white);
  font-size: 16px;
  font-weight: 600;
}

.news_search_svg {
  position: absolute;
  display: flex;
  align-items: center;
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 20px;
  width: 22px;
}

.dropdown {
  width: 266px;
  height: 58px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--color-white-transparent2);
  backdrop-filter: blur(25px);
  z-index: 1;
}

.show {
  display: block;
}

/* Стили для кнопки */
.dropbtn {
  cursor: pointer;
  background-color: var(--color-tomato);
  padding: 10px;
  border: none;
  width: 266px;
  height: 58px;
  font-size: 16px;
  font-weight: 600;
}

/* Стили для элементов в выпадающем меню */
.dropdown-content a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 266px;
  height: 58px;
  border: 1px solid var(--color-white-transparent1);
}

/* opened news */

.newThisBlock {
  display: flex;
  justify-content: center;
}

.newThis {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 20px;
  width: var(--width-block);
  background-color: var(--color-white-transparent1);
  padding: 20px 60px;
}

.newThisTitle {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 160%; /* 32px */
  text-transform: uppercase;
  padding: 20px 0;
}

.newThis_images {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 10px;
  gap: 28px;
}

.newThis_img {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey-light);
  box-shadow: 0 0 10px 1px black;
  border-radius: 3px;
  width: 375px;
  height: 267px;
}

.newThis_video {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 375px;
}

.newThis_video video {
  width: 100%;
  height: 100%;
}

.newThis_img a {
  display: flex;
  height: 100%;
}

.newThis_img img {
  height: 100%;
}

.newContent {
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
}

.newTitle {
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  width: var(--width-block);
}

/* opened news */

/* news */

/* photos */

.photosSection {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.photosBlock {
  display: flex;
  width: var(--width-block);
  padding-top: 60px;
}

.photos_big_img {
  /* width: var(--width-block); */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.photos_big_img a {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey-light);
  border-radius: 3px;

  box-shadow: 0 0 10px 1px black;

  width: 360px;
  height: 250px;
}

.photos_big_img a img {
  height: 100%;
}

/* photos */

/* about us  */

.aboutSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
}

.aboutUs {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--color-white);
  width: var(--width-block);
}

.about {
  display: flex;
  flex-direction: column;
  padding: 80px;
  gap: 50px;
}

.aboutContent {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.about_img {
  width: 820px;
  height: 646px;
}

.about_img img {
  width: 100%;
}

.achivementsSection {
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.achivements {
  width: var(--width-block);
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.achivement {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  width: 320px;
}

.achivementNumber {
  text-align: center;
  font-size: 96px;
  font-weight: 700;
}

.achivementContent {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
}

.possibleSection {
  display: flex;
  flex-direction: column;
  padding: 80px 0;
  gap: 80px;
  align-items: center;
  background-color: var(--color-background-footer);
}

.possibleBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  width: var(--width-block);
}

.possibleArrow_img {
  cursor: pointer;
}

.possible {
  width: 432px;
  height: 650px;
  border: 1px solid var(--color-white);
}

.possible_img {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey-light);
  width: 432px;
  height: 325px;
}

.possible_img img {
  height: 100%;
}

.possibleText {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

.kostyl {
  height: 140px;
}

/* about us  */

/* calendar */

.calendarSection {
  padding: 80px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.calendarBlock {
  display: flex;
  width: var(--width-block);
}

.calendarToday {
  border: 1px solid var(--color-white);
  width: 560px;
  height: 820px;
}

.today_img {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey-light);
  width: 560px;
  height: 380px;
}

.today_img img {
  height: 100%;
}

.todayBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 10px 10px 0;
  gap: 40px;
}

.today {
  width: 385px;
  cursor: pointer;
}

.todayEvents {
  height: 355px;
  overflow: hidden;
  overflow-y: scroll;
}

.todayEvents::-webkit-scrollbar {
  width: 10px;
}

.todayEvents::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: var(--color-background);
}

.todayEvents::-webkit-scrollbar-thumb {
  background-color: var(--color-red-transparent6);
}

.todayEvent {
  gap: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  border: 1px solid var(--color-background-footer);
}

.todayTime {
  width: 90px;
}

.todayContent {
  width: 385px;
  height: 80px;
}

.calendar {
  background-color: var(--color-background-footer);
}
.calendar_img {
  text-align: center;
  width: 90px;
}

/* calendar */

/* This event  */

.thisEventSection {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
}

.thisEventHead {
  display: flex;
  gap: 80px;
  background: var(--color-background-footer);
}

.thisEventHeadBlock {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 50px 10px;
}

.thisEvent_img {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey-light);
  width: 800px;
  height: 560px;
}

.thisEvent_img img {
  height: 100%;
}

.thisEventTitle {
  width: 800px;
  height: 200px;
}

.thisEventBlock {
  display: flex;
  width: var(--width-block);
  justify-content: space-between;
  padding: 50px 0 80px;
}

.thisEventGalery {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  width: 50%;
}

.thisEventGalery a {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey-light);
  border-radius: 3px;
  width: 360px;
  height: 250px;
}

.thisEventGalery a img {
  height: 100%;
}

.thisEventContentBlock {
  display: flex;
  width: 50%;
}

.thisEventContent {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  width: 100%;
}

.arrow_up,
.arrow_down {
  cursor: pointer;
}

/* This event  */

/* Lessons  */

.lessonsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lessonsBlock {
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  width: var(--width-block);
}

.lesson {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px;
  width: 490px;
  height: 730px;
  background: var(--color-background);
  border: 1px solid var(--color-white);
}

.lesson:has(.button_grey):hover {
  background-color: var(--color-background-footer);
}

.lessonTitleBlock {
  /* Не трогать */
  /* Don't touch */
}

.lesson_img {
  overflow: hidden;
  display: flex;
  padding: 20px 0;
  align-items: center;
}

.lessonContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.lessonAge {
  color: var(--color-red);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.lessonDescription {
}

/* Lessons  */
/* Lesson  */

.lessonSection {
  display: flex;
  justify-content: center;
}

.thisLesson {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.thisLessonTitleBlock {
  display: flex;
  justify-content: space-between;
  width: var(--width-block);
}

.thisLessonTitle {
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
}

.thisLessonContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.thisLessonDescription {
  padding-right: 10px;
  overflow: hidden;
  overflow-y: scroll;
  padding-top: 30px;
  width: 750px;
  height: 420px;
}

.thisLessonDescription::-webkit-scrollbar {
  width: 4px;
}

.thisLessonDescription::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: var(--color-background);
}

.thisLessonDescription::-webkit-scrollbar-thumb {
  background-color: var(--color-red-transparent6);
}

.thisLesson_img {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 690px;
  height: 690px;
}

.thisLesson_img img {
  height: 100%;
}

.timeTable {
  display: flex;
  justify-content: space-between;
  width: var(--width-block);
}

.timeTableDays {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-white);
  padding: 50px 60px;
  gap: 40px;
  width: 720px;
  height: 550px;
}

.timeTableGroups {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  gap: 40px;
}

.timeTableGroups::-webkit-scrollbar {
  width: 10px;
}

.timeTableGroups::-webkit-scrollbar-track {
  background-color: var(--color-transparent);
}

.timeTableGroups::-webkit-scrollbar-thumb {
  background-color: var(--color-transparent);
}

.timeTableGroup {
  display: flex;
  justify-content: space-between;
}

/* Lesson  */

.creativitySection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.creativityBlock {
  display: flex;
  flex-direction: row;
  width: var(--width-block);
}

.creativity_img {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey-light);
  width: 560px;
  height: 740px;
}

.creativity_img img {
  height: 100%;
}

.creativityText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 970px;
  gap: 30px;
  padding: 80px;
  background: var(--color-background-footer);
}

.creativityContent {
  width: 720px;
  height: 450px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

/* Tetra svg */
.tetra425 {
  display: none;
}
.visit_svg {
}

.visit_svg_1,
.visit_svg_2,
.visit_svg_3,
.visit_svg_4,
.visit_svg_5,
.visit_svg_6,
.visit_svg_7,
.visit_svg_8,
.visit_svg_9,
.visit_svg_10,
.visit_svg_11,
.visit_svg_12,
.visit_svg_13,
.visit_svg_14,
.visit_svg_15,
.visit_svg_16,
.visit_svg_17 {
  position: absolute;
}

@keyframes myAnim {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-800px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}

.visit_svg_1 {
  top: 142px;
  left: 0px;
  animation: myAnim 2s ease 0s 1 normal forwards;
}

.visit_svg_2 {
  top: 143px;
  left: 130px;
  animation: myAnim 2.1s ease 0s 1 normal forwards;
}

.visit_svg_3 {
  top: 224px;
  left: 400px;
  animation: myAnim 2.2s ease 0s 1 normal forwards;
}

.visit_svg_4 {
  top: 142px;
  left: 1060px;
  animation: myAnim 2.3s ease 0s 1 normal forwards;
}

.visit_svg_5 {
  top: 143px;
  left: 1190px;
  animation: myAnim 2.4s ease 0s 1 normal forwards;
}

.visit_svg_6 {
  top: 136px;
  left: 1470px;
  animation: myAnim 2.5s ease 0s 1 normal forwards;
}

.visit_svg_7 {
  top: 10px;
  left: 1px;
  animation: myAnim 2.6s ease 0s 1 normal forwards;
}

.visit_svg_8 {
  top: 10px;
  left: 400px;
  animation: myAnim 2.7s ease 0s 1 normal forwards;
}

.visit_svg_9 {
  top: 10px;
  left: 1060px;
  animation: myAnim 2.8s ease 0s 1 normal forwards;
}

.visit_svg_10 {
  top: 10px;
  left: 1470px;
  animation: myAnim 2.9s ease 0s 1 normal forwards;
}

.visit_svg_11 {
  top: 10px;
  left: 1609px;
  animation: myAnim 3s ease 0s 1 normal forwards;
}

.visit_svg_12 {
  top: 350px;
  left: 850px;
  animation: myAnim 3.1s ease 0s 1 normal forwards;
}

.visit_svg_13 {
  top: 172px;
  left: 680px;
  animation: myAnim 3.2s ease 0s 1 normal forwards;
}

.visit_svg_14 {
  top: 172px;
  left: 850px;
  animation: myAnim 3.3s ease 0s 1 normal forwards;
}
.visit_svg_14 img {
  transform: scale(0.9);
}

.visit_svg_15 {
  top: -2px;
  left: 530px;
  animation: myAnim 3.4s ease 0s 1 normal forwards;
}

.visit_svg_16 {
  top: -2px;
  left: 680px;
  animation: myAnim 3.5s ease 0s 1 normal forwards;
}

.visit_svg_17 {
  top: 50px;
  left: 850px;
  animation: myAnim 3.6s ease 0s 1 normal forwards;
}

.tetra_hard_svg {
  position: relative;
  width: 100%;
}

.tetra_svg_div {
  pointer-events: none;
}

.tetra_svg {
  pointer-events: visiblePainted;
  transition: all 0.3s ease-in-out;
}

.tetra_svg:hover {
  fill-opacity: 1;
}

.tetra_svg_1,
.tetra_svg_2,
.tetra_svg_3,
.tetra_svg_4,
.tetra_svg_5,
.tetra_svg_6,
.tetra_svg_7,
.svg_img_1,
.svg_img_2,
.svg_img_3,
.svg_img_4,
.svg_img_5,
.svg_img_6,
.svg_img_7,
.tetra_span_1,
.tetra_span_2,
.tetra_span_3,
.tetra_span_4,
.tetra_span_5,
.tetra_span_6,
.tetra_span_7 {
  position: absolute;
}

.tetra_svg_1 svg,
.tetra_svg_2 svg,
.tetra_svg_3 svg,
.tetra_svg_4 svg,
.tetra_svg_5 svg,
.tetra_svg_6 svg,
.tetra_svg_7 svg {
  cursor: pointer;
}

.tetra_span {
  font-size: 48px;
  opacity: 0.1;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;

  text-shadow: -0 -2px 1px var(--color-white), 0 -2px 1px var(--color-white),
    -0 2px 1px var(--color-white), 0 2px 1px var(--color-white),
    -2px -0 1px var(--color-white), 2px -0 1px var(--color-white),
    -2px 0 1px var(--color-white), 2px 0 1px var(--color-white),
    -1px -2px 1px var(--color-white), 1px -2px 1px var(--color-white),
    -1px 2px 1px var(--color-white), 1px 2px 1px var(--color-white),
    -2px -1px 1px var(--color-white), 2px -1px 1px var(--color-white),
    -2px 1px 1px var(--color-white), 2px 1px 1px var(--color-white),
    -2px -2px 1px var(--color-white), 2px -2px 1px var(--color-white),
    -2px 2px 1px var(--color-white), 2px 2px 1px var(--color-white),
    -2px -2px 1px var(--color-white), 2px -2px 1px var(--color-white),
    -2px 2px 1px var(--color-white), 2px 2px 1px var(--color-white);
}

.tetra_svg_div:hover .tetra_span {
  opacity: 1;
}

.tetra_small {
  font-size: 28px;
  color: #e8505b;
  text-transform: uppercase;
}

.tetra_span_1 {
  top: 55px;
  left: 96px;
  color: #4e89ae;
}

.tetra_span_2 {
  top: 322px;
  left: 42px;
  color: #14b1ab;
}

.tetra_span_3 {
  top: 300px;
  left: 42px;
  color: #e8505b;
}

.tetra_span_4 {
  top: 42px;
  left: 42px;
  color: #e8505b;
}

.tetra_span_5 {
  top: 42px;
  left: 330px;
  color: #14b1ab;
}

.tetra_span_6 {
  top: 514px;
  left: 42px;
  color: #f9d56e;
}

.tetra_span_7 {
  top: 270px;
  left: 42px;
  color: #4e89ae;
}

.svg_img_1 {
  width: 300px;
  height: 300px;
  top: -66px;
  left: 540px;
}

.svg_img_2 {
  width: 350px;
  height: 300px;
  top: 1px;
  left: 1px;
}

.svg_img_3 {
  width: 320px;
  height: 300px;
  top: -67px;
  left: 474px;
}

.svg_img_4 {
  width: 460px;
  height: 260px;
  top: -21px;
  left: 420px;
}

.svg_img_5 {
  width: 470px;
  height: 310px;
  top: 205px;
  left: 62px;
}

.svg_img_6 {
  width: 350px;
  height: 400px;
  top: 42px;
  left: 234px;
}

.svg_img_7 {
  width: 490px;
  height: 290px;
  top: 182px;
  left: 465px;
}

/* _________________________ */

.tetra_svg_1 {
  top: 0;
  left: 0;
}

.tetra_svg_2 {
  top: 276px;
  left: 280px;
}

.tetra_svg_3 {
  top: 0;
  left: 561px;
}

.tetra_svg_4 {
  top: 747px;
  left: 0;
}

.tetra_svg_5 {
  top: 1021px;
  left: 0;
}

.tetra_svg_6 {
  top: 269px;
  left: 1006px;
}

.tetra_svg_7 {
  top: 1054px;
  left: 565px;
}

/* Tetra svg */

/* svg  */

.lesson_svg {
  position: relative;
  width: 100%;

  /* пропорционально уменьшает размер. Для адаптива */
  /*transform: scale(0.8); */
}

.lesson_svg svg g path {
  fill: #d9d9d9;
  transition: all 0.3s ease-in-out;
}

.svg_1 {
  position: absolute;
  top: 0;
  left: 0;
}

.svg_2 {
  position: absolute;
  top: 53px;
  left: 0px;
}

.svg_3 {
  position: absolute;
  top: 0;
  left: 112px;
}

.svg_4 {
  position: absolute;
  top: 0;
  left: 215px;
}

.svg_5 {
  position: absolute;
  top: 53px;
  left: 215px;
}

.svg_6 {
  position: absolute;
  top: 0;
  left: 327px;
}

.lesson:hover .svg_1 svg g path,
.lesson:hover .svg_5 svg g path {
  fill: var(--color-green);
  fill-opacity: 1;
}

.lesson:hover .svg_2 svg g path,
.lesson:hover .svg_6 svg g path {
  fill: var(--color-yellow);
  fill-opacity: 1;
}

.lesson:hover .svg_3 svg g path,
.lesson:hover .svg_7 svg g path {
  fill: var(--color-red);
  fill-opacity: 1;
}

.lesson:hover .svg_4 svg g path,
.lesson:hover .svg_8 svg g path {
  fill: var(--color-blue);
  fill-opacity: 1;
}

/* svg  */

/* Slideshow container */
.slideshow-container {
  max-width: var(--width-block);
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.prev {
  left: -140px;
}
.next {
  right: -140px;
  border-radius: 3px 0 0 3px;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/*  */
